<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>174165243026-d9vf343kf8e7dj29kapuepm2dlv6avid.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.174165243026-d9vf343kf8e7dj29kapuepm2dlv6avid</string>
	<key>API_KEY</key>
	<string>AIzaSyDhmQekgfQFSt5Gbdm6QQ6xJqJHHxtz4Lk</string>
	<key>GCM_SENDER_ID</key>
	<string>174165243026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yoursuperidea.siren24</string>
	<key>PROJECT_ID</key>
	<string>siren24</string>
	<key>STORAGE_BUCKET</key>
	<string>siren24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174165243026:ios:74b1f44c30e1190b73a24b</string>
</dict>
</plist>